

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */


.dark-1{
    color: #0D1321;
}

.dark-2 {
    color: #0D1321;
    opacity: 70%;
}


.description-text {
    font-size: 16px;
    color: #0D1321;
    
}


/* header styles */ 

.header {
    background-image: url(../assets/Hero-bg.png);
    align-items: center;
    padding: 26px 221px 45px 221px;
}


/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}


.nav-tittle{
    font-weight: 800;
    font-size: 28px;
}


.btn-download {
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid;
}


/* banner styles  */


.banner {
    max-width: 998px;
    text-align: center;
    margin: 26px 221px 45px 221px;
}

.banner-tittle {
    font-weight: 800;
    font-size: 48px;
}


.banner-description {
    padding: 24px 73px 32px 73px;
}


.banner-profile-image {
    width: 240px;
}


.btn-contact-me {
    color: white;
    background-color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    border: 1px solid;
    font-family: "Azeret Mono";
}

/* web development section styles */

.web-dev-section {
    background-color: #fafafb;
    max-width: 1140px;
    margin: 90px auto;
}

.web-dev-tittle-section {
    text-align: center;
}

.web-dev-tittle {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}

.web-dev-description {
    font-size: 16px;
    opacity: 70%;
    margin: 0 auto 40px;
    padding: 24px 47px 48px 47px;
}

.goals {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.goal {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}


.goal.reverse {
    flex-direction: row-reverse;
}

.goals-content {
    max-width: 50%;
    text-align: left;
}

.goals-content h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.goals-content p {
    font-size: 16px;
    margin-bottom: 20px;
}


.goals-image {
    max-width: 40%;
    text-align: right;
}

.goals-image img {
    max-width: 100%;
}


.btn-learn-more {
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 0px;
    border: 1px solid;
}




/* my-inspiration sections style */


.my-inspiration {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    max-width: 1140px;
    margin: 90px auto;
}

.my-inspiration-heading {
    text-align: center;
    padding: 0 144px 48px 144px;
    
}

.inspiration-tittle {
    font-weight: 800;
    font-size: 32px;
}


iframe {
    height: 550px;
    width: 900px;
    border-radius: 16px;
    margin: 32px;
}


/* my current target section */


.current-target {
    max-width: 1140px;   
    margin: 90px auto;
}

.target-heading {
    text-align: center;
    padding: 0 97px 48px 97px;
}


.current-target-tittle {
    font-weight: 800;
    font-size: 32px;
}


.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 40px;
    align-items: start;
    border-radius: 16px 
}

.skill img {
    height: 56px;
    width: 56px;
}

.skill a {
    color: black;
    font-weight: bold;
}

.skill-tittle {
    font-size: 24px;
    font-weight: 800;
}

.skill-html {
    background-color: #fff6f4;
}

.skill-css {
    background-color: #f2f6fe;
}

.skill-js {
    background-color: #fffdf2;
}

/* Support sections styles */



